{% extends 'base.html' %}

{% block body %}
{% if user_id is not None %}
<div>
<div class="index_wish">
    <center>
        <a class="index_a" href="{% url 'user_wishlists' username %}">Create a Wishlist</a>
        <ul style="color: blueviolet;">
            <li><span>Create an online wishlist on "My Wishlists"</span></li>
            <li><span>Add items from any store</span></li>
            <li><span>Family & friends can reserve gifts</span></li>
            <li><span>Easy and free</span></li>
          </ul>
    </center>
</div>
<div class="index_shop">
    <center>
        <a class="index_a" href="{% url 'user_shoplists' username %}">Create a Shopping List</a>
        <ul style="color: #4CAF50;">
            <li><span>Create an online shopping list on "My Shopping Lists"</span></li>
            <li><span>Add products in your list.</span></li>
            <li><span>Family & friends can use your shopping lists</span></li>
            <li><span>Easy and free</span></li>
        </ul>
    </center>
</div>
</div>


{% else %}
    <div>
        <div class="index_wish">
            <center>
                <h1>Wishlist</h1>
                <ol style="color: blueviolet;">
                    <li><span>Create Wishlist</span></li>
                    <p>Creating your wishlist is easy! Add items from any store.</p>
                    <li><span>Send</span></li>
                    <p>Send your wishlist to anyone. By email, chat or social media.</p>
                    <li><span>Reserve</span></li>
                    <p>Family and friends can reserve their gifts on your wishlist. Useful!</p>
                </ol>
            </center>
        </div>
        <div class="index_shop">
            <center>
                <h1>Shopping list</h1>
                <ol style="color: #4CAF50;">
                    <li><span>Create Shopping List</span></li>
                    <p>Creating your shopping list is easy! Add products in your list.</p>
                    <li><span>Send</span></li>
                    <p>Send your wishlist to anyone. By email, chat or social media.</p>
                    <li><span>Usability</span></li>
                    <p>Anyone can use your list to shop. Even husband!</p>
                </ol>
            </center>
        </div>
    </div>
{% endif %}

{% endblock %}
