{% extends 'base.html' %}

{% block body %}

{% if is_owner_list %}
    <details>
        <summary class="btn">Create a new shopping list</summary>
        <form method="POST">
            {% csrf_token %}
            <label for="title">Title</label>
            <input name="title"><br>
            <label for="is_hidden">Is hidden</label>
            <input type="checkbox" name="is_hidden" checked><br>
            <select name="owner" required id="id_owner">
                <option value="{{ user_id }}" selected>{{username}}</option>
            </select><br>
            <button type="submit">ADD</button>
        </form>
    </details>
{% endif %}

{% if shoplists is not None %}
    {% for shoplist in shoplists %}
        <details>
            <summary class="h">{{ shoplist.title }}</summary>
                {% for product in shoplist.product.all %}
                    {% if is_owner_list %}
                       <center><ul>
                            <li>{{ product.title }} - {{ product.price }} ({{ product.created_at }}) <a class="btn" href="{% url 'delete_wish_or_product' type_page list_type shoplist.pk product.pk %}">delete product</a></li>
                        </ul></center>
                    {% else %}
                        <center><ul>
                            <li>{{ product.title }} - {{ product.price }} ({{ product.created_at }})</li>
                        </ul></center>
                    {% endif %}
                {% endfor %}

                {% if is_owner_list %}
                    <details>
                        <summary class="b">Add a product in "{{ shoplist.title }}"</summary>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <label for="title">Title</label>
                                    <input name="title"><br>
                                <label for="price">Quantity</label>
                                    <input name="price"><br>
                                <select name="product_type" required id="id_product_type">
                                    <option value="sh_p" selected>shopping</option>
                                </select>
                                <input type="hidden" name="shoplist_pk" value="{{ shoplist.pk }}">
                                <button type="submit">ADD</button>
                            </form>
                    </details>
                    <a class="btn" href="{% url 'edit_list' list_type username shoplist.pk %}">Edit {{ shoplist.title }}</a>
                    <a class="btn" href="{% url 'delete_shoplist' shoplist.pk %}">Delete {{ shoplist.title }}</a><br>
                {% endif %}
        </details>
    {% endfor %}

{% else %}
    <h1>You do not have any shopping lists. Create one here.</h1>
{% endif %}

{% endblock %}