{% extends 'base.html' %}

{% block body %}

{% if is_owner_list %}
    <details>
        <summary class="btn">Create a new wishlist</summary>
        <form method="POST">
            {% csrf_token %}
            <label for="title">Title</label>
                <input name="title"><br>
            <label for="is_hidden">Is hidden</label>
                <input type="checkbox" name="is_hidden" checked><br>
            <select name="owner" required id="id_owner">
                <option value="{{ user_id }}" selected>{{username}}</option>
            </select><br>
            <button type="submit">ADD</button>
        </form>
    </details>
{% endif %}

{% if wishlists is not None %}
    {% for wishlist in wishlists %}
        <details>
            <summary class="h">{{ wishlist.title }}</summary>
                {% for product in wishlist.product.all %}
                    {% if is_owner_list %}
                        <img src="{{ product.image.url }}" width="250">
                        <center>
                            <a href="{{ product.link }}" target="_blank">{{ product.title }}</a>
                            <p>{{ product.note }}</p>
                            <p>{{ product.created_at }}</p>
                            <a class="btn" href="{% url 'delete_wish_or_product' type_page list_type wishlist.pk product.pk %}">delete wish</a></center>
                    {% else %}
                        <img src="{{ product.image.url }}" width="250">
                        <center><a href="{{ product.link }}" target="_blank">{{ product.title }}</a>
                        <p>{{ product.note }}</p>
                        <p>{{ product.created_at }}</p></center>
                    {% endif %}
                {% endfor %}

                {% if is_owner_list %}
                    <a class="btn" href="{% url 'edit_list' list_type username wishlist.pk %}">Edit "{{ wishlist }}"</a>
                    <a class="b" href="{% url 'delete_wishlist' wishlist.pk %}">Delete "{{ wishlist }}"</a><br>
                {% endif %}
        </details>
    {% endfor %}

{% else %}
    <h1>You do not have any wishlists. Create one here.</h1>
{% endif %}
{% endblock %}